<div class="bg-[#0a1a7e] p-4">
  <div class="container mx-auto">
    <nav class="flex justify-between items-center">
      <h1 class="text-white text-xl font-bold">Administración de Colaboradores</h1>

      <ul class="hidden md:flex space-x-4">
        <li><a [routerLink]="['/']" class="text-white hover:text-gray-300">Inicio</a></li>
        <li><a [routerLink]="['/paises']" class="text-white hover:text-gray-300">Países</a></li>
        <li><a [routerLink]="['/empresas']" class="text-white hover:text-gray-300">Empresas</a></li>
        <li><a [routerLink]="['/colaboradores']" class="text-white hover:text-gray-300">Colaboradores</a></li>
      </ul>

      <div class="md:hidden">
        <button (click)="toggleMenu()" id="menu-btn" class="text-white focus:outline-none">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>
    </nav>

    <div *ngIf="isMenuOpen" id="mobile-menu" class="md:hidden mt-4">
      <ul class="flex flex-col space-y-2">
        <li><a [routerLink]="['/']" class="text-white hover:text-gray-300">Inicio</a></li>
        <li><a [routerLink]="['/paises']" class="text-white block hover:text-gray-300">Países</a></li>
        <li><a [routerLink]="['/empresas']" class="text-white block hover:text-gray-300">Empresas</a></li>
        <li><a [routerLink]="['/colaboradores']" class="text-white block hover:text-gray-300">Colaboradores</a></li>
      </ul>
    </div>
  </div>
</div>

<app-breadcrumb></app-breadcrumb>

<router-outlet></router-outlet>
